{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}
{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">
	var apps = [];
var id = 0;
var choices_id = 0;
var choices_choice_ids = [];
var char_field_ids = [];
var selected_choices = [];
var char_default = true;
function showDebug() {
    $('#debug').html('apps: '+apps);
}

function createModel() {
	var content = $("#create_model_form").serialize();

	$('#last_code').val($('#code').val());
	$.post('/admin/create_model/', content,function(response){
	  $('#code').val(response.code);
	  $('#model_name').val(response.model_name);
	  //alert(response.post_dict);
	  for (var i = 0; i < response.new_field_names.length; i++) {
	      $('#'+response.new_field_names[i][0]).val(response.new_field_names[i][1]);
	  }
	});
}

function saveModel() {
	var content = 'save=True&'+$("#create_model_form").serialize();
    $('#last_code').val($('#code').val());
	$.post('/admin/create_model/', content,function(response){
        location.reload(true);
	});
}

function listApps() {
	$.get('/admin/create_model/', 'list_apps=true',function(response){
	  $('#apps').html('');
	  window.apps = response.apps;
	  for(var i=0; i<response.apps.length; i++) {
	    $('#apps').append('<option id="'+i+'" value="'+response.apps[i][1]+'">'+response.apps[i][0]+'</option>') ;
	  }
	   $('#file_path').val(response.apps[0][1]);
	   if (!apps[0][2]) {
	     
	     $('#is_app_installed').html('This app is not installed. <input type="button" value="Install this app" onclick="installApp(\''+apps[0][0]+'\');" />');

	   }
	});
}

function syncdb() {

	$.get('/admin/create_model/', 'syncdb=true',function(response){
	  if (response.success == false) {
	      $('#error').text('Syncdb failed');
      }
	  $('#cmd_output').text(response.cmd_output);
	});
}

function installApp(app) {

	$.get('/admin/create_model/', 'install_app='+app,function(response){

	  $('#is_app_installed').html('');
	});
}

function removeField(fieldId) {
    $('#field_'+fieldId).remove();
}

function getDefaultName(fieldType) {
    switch (fieldType) {
	    case 'Boolean':
		    return 'is_';
			break;
		case 'Char':
		    if (char_default) {
			    char_default = false;
			    return 'name';
		    } else {
			    return '';
			}
			break;
	    case 'Date':
		    return 'date';
			break;
	    case 'DateTime':
		    return 'datetime';
			break;
	    case 'Email':
		    return 'email';
			break;
		case 'NullBoolean':
		    return 'is_';
			break;
		case 'Slug':
		    return 'slug';
			break;
		case 'Time':
		    return 'time';
			break;
		case 'Url':
		    return 'url';
			break;
	    default:
		    return ''
			break;
	}
}

function updateFieldNames() {
    for (var i = 0; i < id; i++) {
	    if ($('#field_'+i+'_name').val() != '') {
			$('#ordering_'+i).text($('#field_'+i+'_name').val());
			$('#ordered_field_'+i+' span').text($('#field_'+i+'_name').val());
		}
	}
}

function addField(fieldType) {
    var html = '<tr id="field_'+id+'"><td><input type="button" value="X" onclick="removeField('+id+')"/></td><td><input type="hidden" name="field_'+id+'_type" value="'+fieldType+'"><input class="required" id="field_'+id+'_name" name="field_'+id+'_name" type="text" value="'+getDefaultName(fieldType)+'" style="width:100px;" /></td><td>'+fieldType+'</td><td><input type="checkbox"  name="field_'+id+'_unique" /></td>';

    if (simple_mode) {
	    html += '<td><input type="checkbox" checked name="field_'+id+'_required" /> </td>'
	} else {
		if (fieldType != 'Char' && fieldType != 'Boolean' && fieldType != 'NullBoolean') {
			html += '<td><input type="checkbox" name="field_'+id+'_null" /> </td>';
		} else {
			html += '<td></td>';
		}
		html += '<td><input type="checkbox" name="field_'+id+'_blank" /> </td>'
	}
	
	if ((fieldType == 'Boolean') || (fieldType == 'NullBoolean')) {
	    html += '<td><input type="radio" name="field_'+id+'_default" value="no_default" checked> No default<br/><input type="radio" name="field_'+id+'_default" value="true"> True<br/><input type="radio" name="field_'+id+'_default" value="false"> False</td>'
	} else {
	    html += '<td><input name="field_'+id+'_default" type="text" value="" style="width:100px;" /></td>'
	}
		
	switch (fieldType) {
	    case 'Char':
		    html += '<td> <table><tr><th>Max length:</th><td><input name="field_'+id+'_max_length" type="text" value="30"  style="width:20px;" class="required" /></td></tr><tr><th>Choices:</th><td><input type="button" value="Add choices" onclick="addChoices();" /><div id="choices_radio_buttons_field_'+id+'" class="choices_box"></div></td></tr></table></td>';
            char_field_ids.push(id);
			selected_choices[id] = false;
			break;
		case 'CommaSeparatedInteger':
		    html += '<td> <strong>Max length:</strong> <input name="field_'+id+'_max_length" type="text" value="30"  style="width:20px;" class="required" /></td>';
			break;

	    case 'Date':
		    html += '<td> <input type="checkbox" name="field_'+id+'_auto_now" /> Auto now<br/><input type="checkbox" name="field_'+id+'_auto_now_add" /> Auto now add</td>';
			break;
	    case 'DateTime':
		    html += '<td> <input type="checkbox" name="field_'+id+'_auto_now" /> Auto now<br/><input type="checkbox" name="field_'+id+'_auto_now_add" /> Auto now add</td>';
			break;
	    case 'Decimal':
		    html += '<td> <table><tr><th>Max digits:</th><td> <input name="field_'+id+'_max_digits" type="text" value="5"  style="width:20px;" class="required"/></td></tr><tr><th>Decimal places:</th><td> <input name="field_'+id+'_decimal_places" type="text" value="2"  style="width:20px;" class="required"/></td></tr></table></td>';
			break;
		case 'Email':
		    html += '<td> <strong>Max length:</strong> <input name="field_'+id+'_max_length" type="text" value="75"  style="width:20px;"/></td>';
			break;
		case 'File':
		    html += '<td> <strong>Upload to:</strong> <input name="field_'+id+'_upload_to" type="text" value=""  style="width:200px;" class="required" /></td>';
			break;
		case 'ForeignKey':
		    html += '<td> <table><tr class="required" style="border:1px solid red;"><th>Related model:</th><td><input type="checkbox" onclick="$(\'#related_model_'+id+'\').val(\'\').toggle();" name="field_'+id+'_self"/> Self<br/> <input id="related_model_'+id+'" name="field_'+id+'_related_model" type="text" value="" /></td></tr></table></td>';
			break;
		case 'Image':
		    html += '<td> <table><tr><th>Upload to:</th><td> <input name="field_'+id+'_upload_to" type="text" value=""  style="width:200px;" class="required" /></td></tr><tr><th>Height:</th><td><input name="field_'+id+'_height" type="text" value=""  style="width:20px;"/></td></tr><tr><th>Width:</th><td><input name="field_'+id+'_width" type="text" value=""  style="width:20px;"/></td></tr></table></td>';
			break;
		case 'ManyToMany':
		    html += '<td> <table><tr class="required" style="border:1px solid red;"><th>Related model:</th><td><input type="checkbox" onclick="$(\'#related_model_'+id+'\').val(\'\').toggle();" name="field_'+id+'_self"/> Self<br/> <input id="related_model_'+id+'" name="field_'+id+'_related_model" type="text" value="" /></td></tr><tr><th>Through:</th><td><input name="field_'+id+'_through" type="text" value="" /></td></tr></table></td>';
			break;
		case 'OneToOne':
		    html += '<td> <table><tr class="required" style="border:1px solid red;"><th>Related model:</th><td><input type="checkbox" onclick="$(\'#related_model_'+id+'\').val(\'\').toggle();" name="field_'+id+'_self"/> Self<br/> <input id="related_model_'+id+'" name="field_'+id+'_related_model" type="text" value="" /></td></tr></table></td>';
			break;
		case 'Slug':
		    html += '<td> <strong>Max length:</strong> <input name="field_'+id+'_max_length" type="text" value="50"  style="width:20px;" /></td>';
			break;
		case 'Url':
		    html += '<td> <strong>Max length:</strong> <input name="field_'+id+'_max_length" type="text" value="200"  style="width:20px;" /></td>';
			break;
	    default:
	        html += '<td></td>';
	}
	html += '</tr>';
    $('#fields').append(html);
	$('#ordering').append('<option value="'+id+'" id="ordering_'+id+'" field_id="'+id+'">unamed '+fieldType+' field</option>');

	id += 1;
	updateFieldNames();
	$('#fields').show();
	createModel();
	$('#ordering_tr').show();
}

function getFilePath() {
	$.get('/admin/create_model/', 'get_file_path=true',function(response){
	  $('#file_path').val(response);
	});
}

function addChoice(target_choices_id) {
    element = $('#choices_'+target_choices_id)
    element.after('<tr id="choices_'+target_choices_id+'_choice_'+choices_choice_ids[target_choices_id]+'" class="choices_'+target_choices_id+'"><td><input type="button" value="X" onclick="removeChoice('+target_choices_id+', '+choices_choice_ids[target_choices_id]+')"/></td><td><input type="text" name="choices_'+target_choices_id+'_choice_'+choices_choice_ids[target_choices_id]+'_value" style="width:200px;" /></td><td><input type="text" style="width:200px;" name="choices_'+target_choices_id+'_choice_'+choices_choice_ids[target_choices_id]+'_label"/></td></tr>');
    window.choices_choice_ids[target_choices_id] = window.choices_choice_ids[target_choices_id] + 1;
}

function addChoices() {
    $('#choices').show().append('<tr class="choices_'+choices_id+'" id="choices_'+choices_id+'" style="background:#ccc;"><th><input type="button" value="X" onclick="removeChoices('+choices_id+')"/></th><th colspan="2">Choices name: <input type="text" value="_CHOICES" id="choices_'+choices_id+'_name" name="choices_'+choices_id+'_name" ><input type="button" value="Add choice" onclick="addChoice('+choices_id+')"/></th></tr>');
	window.choices_choice_ids[choices_id] = 0; 
	addChoice(choices_id);

	window.choices_id += 1;
	
}


function listChoicesForField(element, index, array) {
    $('#choices_radio_buttons_field_'+element).html('<input type="radio" char_field_id="'+element+'" name="field_'+element+'_choices" value="no_choices" checked class="choices_radio" /> No choices<br/>');
    for(i=0; i<choices_id; i++) {
	    var label = $('#choices_'+i+'_name').val();
		var checked = '';
		if (selected_choices[element] == i) {
		    checked = 'checked';
		}
	    $('#choices_radio_buttons_field_'+element).append('<input type="radio" char_field_id="'+element+'" choices_id="'+i+'" name="field_'+element+'_choices" value="'+label+'" class="choices_radio" '+checked+'/> '+label + '<br/>');
    }
}

function listChoices() {
    char_field_ids.forEach(listChoicesForField);
}

function removeChoices(target_id) {
    $('.choices_'+target_id).remove();
}

function removeChoice(target_choices_id, target_choice_id) {
    $('#choices_'+target_choices_id+'_choice_'+target_choice_id).remove();
}

$(function() {
    $('#app_name').keydown(function(event) {
		event.preventDefault();
		if (event.which == 8) {
		    $('#app_name').val($('#app_name').val().slice(0, -1));
		}
		if (event.which >= 48 && event.which <= 57) {
			$('#app_name').val($('#app_name').val() + String.fromCharCode(event.which));
		}
		if (event.which >= 65 && event.which <= 90) {
			$('#app_name').val($('#app_name').val() + String.fromCharCode(event.which + 32));
		}
		if (event.which == 32) {
			$('#app_name').val($('#app_name').val() + '_');
		}
				
	    $.get('/admin/create_model/', 'is_app_name_valid='+$('#app_name').val(),function(response){
		    if (response.is_valid) {
			    $('#create_app_button').show();
			    $('#app_name_error').hide();
		    } else {
			    $('#create_app_button').hide();
			    $('#app_name_error').show();
		    }
		});
	});
    createModel();
    $.get('/admin/create_model/', 'is_simple_mode=True',function(response){
	    if (response.is_simple_mode) {
		    window.simple_mode = true; 
		    $('#fields').html('<tr><th style="width:10px;"></th><th style="width:100px;">Name</th><th style="width:50px;">Type</th><th style="width:25px;">Unique</th><th>Required</th><th>Default</th><th></th></tr>');
	    } else {
		    window.simple_mode = false;
		    $('#fields').html('<tr><th style="width:10px;"></th><th style="width:100px;">Name</th><th style="width:50px;">Type</th><th style="width:25px;">Unique</th><th>Null</th><th>Blank</th><th>Default</th><th></th></tr>');

		}
	});
	$(".choices_box input:radio").live('click', function() {
	    createModel();
	    if ($(this).val() == 'no_choices') {
		    char_field_ids[parseInt($(this).attr('char_field_id'))] = false;
		} else { 
	        char_field_ids[parseInt($(this).attr('char_field_id'))] = parseInt($(this).attr('choices_id'));
		}
	});
    //var generate_code_interval = setInterval( createModel, 1000);
	$('input:checkbox').live('click', function() {
	    createModel();
	});
	$('input').live('focusout', function() {
	    createModel();
		updateFieldNames();
		$('#note_about_code_updating').toggle();
	});
	$('input[type="checkbox"]').live('change', function() {
	    createModel();
		updateFieldNames();
	});
	$('input').live('focusin', function() {
	    //createModel();
		$('#note_about_code_updating').toggle();
	});
	$('#ordering').live('change', function(){ 
	    var field_id = $('#ordering option:selected').attr('field_id');
		var label = 'unamed field';
		if ($('#field_'+field_id+'_name').val() != '') {
		    label = $('#field_'+field_id+'_name').val();
        }
		$('#ordered_fields').append('<li id="ordered_field_'+field_id+'"><input type="hidden" name="ordered_'+field_id+'_name" value="'+label+'" /><input type="button" value="X" onclick="$(\'#ordered_field_'+field_id+'\').remove();createModel();"/> <span>'+label+'</span> <input type="checkbox" name="ordered_'+field_id+'_descending" onclick="createModel();"> Descending</li>');
		createModel();
    });
	$('textarea').live('focusin', function() {
	    //createModel();
		$('#note_about_code_updating').toggle();
	});
	$('textarea').focusout(function() {
	    createModel();
		$('#note_about_code_updating').toggle();
	});
	var debug_interval = setInterval( showDebug, 1000);
	var list_choices_interval = setInterval( listChoices, 500);
	listApps();
	$('#add_field_buttons input').click(function() {
	    addField($(this).val());
	});
	$('#show_model_editor').click(function() {
	    $('#model_editor').show();
		$('#show_model_editor').hide();
		$('#hide_model_editor').show();
	});
	$('#hide_model_editor').click(function() {
	    $('#model_editor').hide();
		$('#show_model_editor').show();
		$('#hide_model_editor').hide();
	});
	    $("#apps").change(function () {
		  $('#is_app_installed').html('');
          var str = "";
		  var aid = false;
          $("select option:selected").each(function () {
                str += $(this).val() + " ";
				aid = parseInt($(this).attr('id'));
              });
          $("#file_path").val(str);
		  
		  if (!apps[aid][2]) {
	     $('#is_app_installed').html('This app is not installed. <input type="button" value="Install this app" onclick="installApp(\''+apps[id][0]+'\');" />');
	   }
        })
        .trigger('change');
		
});
    </script>
	<style>
	strong {
font-weight:bold;
}

#fields {
width:100%;
display:none;
}

#fields th {
font-weight:bold;
text-align:left;
}

#fields td, #fields th {
border:1px solid #ccc;
padding:5px;
}

textarea {
width:100%;
height:200px;
}

#model_editor, #hide_model_editor {
display:none;
}

#model_editor table {
background:#FFF;
}

input.required, tr.required td, tr.required th, select.required {
border-color:red;
}

tr.required th, tr.required td {
border:none;
}

input.error {
background:#ff7e7e;
color:#FFF;
}

#choices {
display:none;
}

#debug {
display:none;
}

#note_about_code_updating, #ordering_tr, #app_name_error, #create_app_button {
display:none;
}

#app_name_error strong {
color:red;
}


	</style>
{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}
{% if title %}<h1>{{ title }}</h1>{% endif %}
<div id="app_editor">
<form action="/admin/create_model/" class="module" method="post" id="create_app">
{% csrf_token %}
<input type="hidden" name="create_app" value="true" />
<strong>App name: <input type="text" id="app_name" name="app_name" value=""/><input id="create_app_button" type="submit" value="Create app"/> <span id="app_name_error"><strong>Error:</strong> there's an error with the app name</span>
</form>
</div>
<input type="button" value="Create model" id="show_model_editor" /><input type="button" value="Hide model creator" id="hide_model_editor" /><br/>

<div id="model_editor">
<form action="/admin/create_model/" class="module" method="post" id="create_model_form">
{% csrf_token %}
<div id="debug">

</div>
Boxes with red border must be filled out<br/>
<p id="note_about_code_updating">Your code will update when you unfocus the input box.</p>
<strong>App:</strong> <select id="apps" class="required">

</select><span id="is_app_installed"></span><br/>
<table style="width:100%;"><tr><th style="width:100px;">Model name:</th><td><input type="text" id="model_name" name="name" class="required" /></td></tr>
<tr id="ordering_tr"><th style="width:100px;">Ordering:</th><td>
<ol id="ordered_fields"></ol>
<strong>Add field:</strong> <select id="ordering">
<option></option>
</select>
</td></tr>
</table>
<table id="choices">
<tr><th style="width:25px;"></th><th>Value</th><th>Label</th></tr>
</table>
<table id="fields">
</table>
<div id="add_field_buttons">
<strong>Add field:</strong> 

<input type="button" value="Auto" />
<input type="button" value="BigInteger"/>
<input type="button" value="Boolean" />
<input type="button" value="Char" />
<input type="button" value="CommaSeparatedInteger" />
<input type="button" value="Date" />
<input type="button" value="DateTime" />
<input type="button" value="Decimal" />
<input type="button" value="Email" />
<input type="button" value="File" />
<input type="button" value="FilePath" />
<input type="button" value="Float" />
<input type="button" value="Image" />
<input type="button" value="Integer" />
<input type="button" value="IPAddress" />
<input type="button" value="GenericIPAddress" />
<input type="button" value="NullBoolean" />
<input type="button" value="PositiveInteger" />
<input type="button" value="PositiveSmallInteger" />
<input type="button" value="Slug" />
<input type="button" value="SmallInteger" />
<input type="button" value="Text" />
<input type="button" value="Time" />
<input type="button" value="Url" />
<br/>
<input type="button" value="ForeignKey" />
<input type="button" value="OneToOne" />
<input type="button" value="ManyToMany" />
</div>

<br/>
<strong>File path for models.py:</strong> <input type="text" id="file_path" name="file_path" style="width:800px" /><br/>
<input type="button" value="Save" onclick="saveModel();" />
<input type="button" value="Syncdb" onclick="syncdb();" />
<div id="error"></div>
<pre id="cmd_output"></pre>
<input type="hidden" id="last_code" name="last_code" value="" />
<textarea id="code" name="code"></textarea>
</form>

</div>
{% endblock %}

{% block content %}

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
