{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}
{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">
var apps = [];
var id = 0;

function createModel() {
	var content = $("#create_model_form").serialize();

	$.post('/admin/create_model/', content,function(response){
	  $('#code').val(response);
	});
}

function saveModel() {
	var content = 'save=True&'+$("#create_model_form").serialize();

	$.post('/admin/create_model/', content,function(response){
	  $('#code').val(response);
	});
}

function listApps() {
	$.get('/admin/create_model/', 'list_apps=true',function(response){
	  $('#apps').html('');
	  apps = response.apps;
	  for(var i=0; i<response.apps.length; i++) {
	    $('#apps').append('<option id="'+i+'" value="'+response.apps[i][1]+'">'+response.apps[i][0]+'</option>') ;
	  }
	   $('#file_path').val(response.apps[0][1]);
	   if (!apps[0][2]) {
	     
	     $('#is_app_installed').html('This app is not installed. <input type="button" value="Install this app" onclick="installApp(\''+apps[0][0]+'\');" />');
		 alert($('#is_app_installed').html());
	   }
	});
}

function syncdb() {

	$.get('/admin/create_model/', 'syncdb=true',function(response){
	  if (response.success == false) {
	      $('#error').text('Syncdb failed');
      }
	  $('#cmd_output').text(response.cmd_output);
	});
}

function installApp(app) {
    alert('install app');
	$.get('/admin/create_model/', 'install_app='+app,function(response){
	  alert('ia2');
	  $('#is_app_installed').html('');
	});
}

function removeField(fieldId) {
    $('#field_'+fieldId).remove();
}

function addField(fieldType) {
    var html = '<tr id="field_'+id+'"><td><input type="button" value="X" onclick="removeField('+id+')"/></td><td><input type="hidden" name="field_'+id+'_type" value="'+fieldType+'"><input name="field_'+id+'_name" type="text" value="" style="width:100px;" /></td><td>'+fieldType+'</td><td><input type="checkbox"  name="field_'+id+'_unique" /></td>';
    if (fieldType != 'Char') {
	    html += '<td><input type="checkbox" name="field_'+id+'_null" /> </td>';
	} else {
	    html += '<td></td>';
    }
	html += '<td><input type="checkbox" name="field_'+id+'_blank" /> </td>'
		
	switch (fieldType) {
	    case 'Char':
		    html += '<td> <strong>Max length:</strong> <input name="field_'+id+'_max_length" type="text" value="30"  style="width:20px;"/></td>';
			break;
	    case 'ForeignKey':
		    html += '<td> <table><th>Related model:</th><td><input type="checkbox" onclick="$(\'#related_model_'+id+'\').toggle();" name="field_'+id+'_self"/> Self<br/> <input id="related_model_'+id+'" name="field_'+id+'_related_model" type="text" value=""/></td></table></td>';
			break;
	    default:
	        html += '<td></td>';
	}
	html += '</tr>';
    $('#fields').append(html);
	id += 1;
	$('#fields').show();
}

function getFilePath() {
	$.get('/admin/create_model/', 'get_file_path=true',function(response){
	  $('#file_path').val(response);
	});
}

$(function() {
    var generate_code_interval = setInterval( createModel, 1000);
	listApps();
	$('#add_field_buttons input').click(function() {
	    addField($(this).val());
	});
	$('#show_model_editor').click(function() {
	    $('#model_editor').show();
		$('#show_model_editor').hide();
		$('#hide_model_editor').show();
	});
	$('#hide_model_editor').click(function() {
	    $('#model_editor').hide();
		$('#show_model_editor').show();
		$('#hide_model_editor').hide();
	});
	    $("#apps").change(function () {
		  $('#is_app_installed').html('');
          var str = "";
		  var id = false;
          $("select option:selected").each(function () {
                str += $(this).val() + " ";
				id = parseInt($(this).attr('id'));
              });
          $("#file_path").val(str);
		  if (!apps[id][2]) {
	     $('#is_app_installed').html('This app is not installed. <input type="button" value="Install this app" onclick="installApp(\''+apps[id][0]+'\');" />');
	   }
        })
        .trigger('change');
		
});
    </script>
	<style>
	strong {
font-weight:bold;
}

#fields {
width:100%;
display:none;
}

#fields th {
font-weight:bold;
text-align:left;
}

#fields td, #fields th {
border:1px solid #ccc;
padding:5px;
}

textarea {
width:100%;
height:200px;
}

#model_editor, #hide_model_editor {
display:none;
}
	</style>
{% endblock %}
{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}
{% if title %}<h1>{{ title }}</h1>{% endif %}
<input type="button" value="Create model" id="show_model_editor" /><input type="button" value="Hide model creator" id="hide_model_editor" /><br/>
<div id="model_editor">
<form action="/create_model/" class="module" method="post" id="create_model_form">
{% csrf_token %}
<strong>App:</strong> <select id="apps">

</select><span id="is_app_installed"></span><br/>
<strong>Model name:</strong> <input type="text" name="name" /><br/>
<table id="fields">
<th style="width:10px;"></th><th style="width:100px;">Name</th><th style="width:50px;">Type</th><th style="width:25px;">Unique</th><th>Null</th><th>Blank</th><th></th></tr></table>
<div id="add_field_buttons">
<strong>Add field:</strong> 

<input type="button" value="Auto" />
<input type="button" value="BigInteger"/>
<input type="button" value="Boolean" />
<input type="button" value="Char" />
<input type="button" value="CommaSeparatedInteger" />
<input type="button" value="Date" />
<input type="button" value="DateTime" />
<input type="button" value="Decimal" />
<input type="button" value="Email" />
<input type="button" value="File" />
<input type="button" value="FilePath" />
<input type="button" value="Float" />
<input type="button" value="Image" />
<input type="button" value="Integer" />
<input type="button" value="IPAddress" />
<input type="button" value="GenericIPAddress" />
<input type="button" value="NullBoolean" />
<input type="button" value="PositiveInteger" />
<input type="button" value="PositiveSmallInteger" />
<input type="button" value="Slug" />
<input type="button" value="SmallInteger" />
<input type="button" value="Text" />
<input type="button" value="Time" />
<input type="button" value="Url" />
<br/>
<input type="button" value="ForeignKey" />
<input type="button" value="OneToOne" />
<input type="button" value="ManyToMany" />
</div>

<br/>
<strong>File path for models.py:</strong> <input type="text" id="file_path" name="file_path" style="width:800px" /><br/>
<input type="button" value="Save" onclick="saveModel();" />
<input type="button" value="Syncdb" onclick="syncdb();" />
<div id="error"></div>
<pre id="cmd_output"></pre>
</form>
<textarea id="code"></textarea>
</div>
{% endblock %}

{% block content %}

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
