<html>
<head>
<title>{% block title %}{% endblock %}</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/screen.css" />
<script>
var id = 0;

function createModel() {
	var content = $("#create_model_form").serialize();

	$.post('/create_model/', content,function(response){
	  $('#code').val(response);
	});
}

function removeField(fieldId) {
    $('#field_'+fieldId).remove();
}

function addField(fieldType) {
    var html = '<tr id="field_'+id+'"><td><input type="button" value="X" onclick="removeField('+id+')"/></td><td><input type="hidden" name="field_'+id+'_type" value="'+fieldType+'"><input name="field_'+id+'_name" type="text" value="" /></td><td>'+fieldType+'</td><td><input type="checkbox"  name="field_'+id+'_unique" /></td>';
    switch (fieldType) {
	    case 'char':
		    html += '<td> <strong>Max length:</strong> <input name="field_'+id+'_max_length" type="text" value=""/></td>';
			break;
	    case 'foreignkey':
		    html += '<td> <strong>Related model:</strong> <input name="field_'+id+'_related_model" type="text" value=""/></td>';
			break;
	}
	html += '</tr>';
    $('#fields').append(html);
	id += 1;
	$('#fields').show();
}
</script>
</head>
<body>
{% block main %}

{% endblock %}
</body>
</html>